/*GERAL - reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#1c1c1c;
    border:none;
    font-size:100%;
  }
  
  a{
    text-decoration: none;
    font-size: .8rem; 
  }
  
  body{
    background:#d4d2d2;
  }
  
  a:hover{
    color:rgba(229, 71, 75, 0.75);
  }
  
  h2{
    /* font-family: 'Pacifico', cursive; */
    font-size: 2.5em;
    margin-top:10px;
    margin-bottom:0;
    color:#e5474b;
    font-weight: 350;
    text-align: center;
    padding:2px;
  }
  
  /*TABELAS*/
  table, th, td{
      border:1px solid #1c1c1c;
      border-collapse: collapse;
  }

  table{
    width:70%;
    text-align: center;
    margin-left:15%;
    font-size:1.2em;
    margin-bottom:5%;
    border-radius: 10px;
  }

  
  tr{
    text-align: center;
    height: 35px;
    background-color: transparent;  
    
  }
  td{
      padding:6px;
  }
  
  
  th{
      color:#1c1c1c;
      background-color: #e5474b;
      font-weight: 100;
      font-size:1.5em;
      padding:15px;
      border: none;
  }

  .cronograma{
    width: 100%;
    float:left;
    overflow: hidden;
  }

  .titulo{
    padding:10px;
    margin-top:20px;
    width:70%;
    background-color: #1c1c1c;
    margin-left:15%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .fechando{
    font-size:30px;
    color:#1c1c1c;
    margin-top:-5%;
    width:70%;
    background-color: #1c1c1c;
    margin-left:15%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #col-data{
    width:100px;
  }

  .fa-caret-down{
    color:#fff;
  }