/*GERAL - reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color:#1c1c1c;
  border:none;
  font-size:100%;
}

a{
  text-decoration: none;
  font-size: .8rem; 
}

body{
  background:#e5474b;
}

a:hover{
  color:rgba(229, 71, 75, 0.75);
}

h1{
  font-size: 4em;
}
/*CONTAINER*/
.container{
  background-color: #fff;
  width: 700px;
  height:600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 35vh;
  border-radius: 10px ;
  text-align: center;
}

/*FORMULARIO*/

form{
  margin-top: 30px;
  margin-bottom: 40px;
}

label, input{
  display: block;
  width:100%;
  text-align:left;
  
}

label{
  font-weight: bold;
  font-size:3em;
  margin-bottom: 2%;
}

input{
  border-bottom: 2px solid rgba(28, 28, 28, 0.75);
  padding:10px;
  font-size:2.4em;
  margin-bottom: 3%;
}

input:focus{
  border-bottom: 2px solid rgba(229, 71, 75, 0.75);
}

#visitante{
  text-align:center;
  display:block;
  font-size:1em;
  margin-top: 10px;
  font-size: 2.3em;
  padding: 10px;
}

input[type="submit"]{
  text-align:center;
  text-transform: uppercase;
  font-size:2.8em;
  border:none;
  height:70px;
  border-radius: 20px;
  margin-top: 25px;
  color: #fff;
  background-color: #1c1c1c;
  cursor:pointer;
}
input[type="submit"]:hover{
  background-color:rgba(28, 28, 28, 0.75) ;
  transition: .5s;
}


/*PC 1280*/
@media screen and (min-width: 1280px){
  .container{
    width: 450px;
    height:450px;
    margin-top: 15vh;
    }
  
    label{
      font-size: 2em;
    }
  
    h1{
      font-size: 3em;
    }
  
    input{
      font-size: 2em;
    }
  
    input[type="submit"]{
      font-size: 2em;
      height:  50px;
    }
  
    #visitante{
      font-size: 1.5em;
      
    }
    
}