*{
    font-size:100%;
    margin: 0;
    padding:0; 
}
body{
    background: #d4d2d2;
    font-family: 'Archivo', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.cont-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    background-color: #fff;
    border-radius: 15px;
    width: 800px;
    height: 65%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    box-shadow: 5px 10px 15px #888888;
}
.first-column{
    background-color: #1c1c1c;
    grid-row: 1/-1;
    height:100%;
    width:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: grid;
    grid-template-rows:1fr 1fr 50px ;
}
.first-column img{
    margin-top: 20px;
    justify-self: center;
}
.first-column .title{
    font-family: 'Anton', serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 350;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    align-self: flex-end;
}
.first-column a{
    align-self: end;
    text-align: center;
    color:#fff;
    margin-bottom: 20px;
}
.first-column span{
    transition: 0.4s;
}
.first-column span:hover{
    color:#e5474b;
}
.second-column{
    background:#fff;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    display: flex;
    justify-content: center;
}
#form-login{
    text-align:center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap:10px
}
#form-login input{
    width: 70%;
    align-self: center;
    height: 40px;
    border-bottom: 2px solid #1c1c1c;
    border-left: none;
    border-top: none;
    border-right: none;
    padding:0px 0px 0px 35px;
    margin-bottom:10px;
}
#form-login input:focus{
    border-bottom: 2px solid rgba(229, 71, 75, 0.75);
}
#form-login input[type="submit"]{
    background: #e5474b;
    border:2px solid transparent;
    cursor: pointer;
    width: 250px;
    margin-top:50px;
    justify-self: center;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: .5s;
    padding:0px !important;
}
#form-login input[type="submit"]:hover{
    border-color:#e5474b;
    background: transparent;
    color: #3d3939;
}
.fa-user-circle{
    color:#3d3939;
    position:absolute;
    margin-left:68px;
    margin-top:-185px;
}
.fa-key{
    color:#3d3939;
    position: absolute;
    margin-left:68px;
    margin-top:-55px;
}
.erro{
    position: fixed;
    color:#e5474b;
    font-weight: bold;
    margin-left:380px;
    margin-top:80px;
    font-size:15px;
    margin-bottom:20px;
}
.visitante-mobile{
    display: none;
}
@media only screen and (max-width:375px){
    
    .first-column{
        display: none;
    }
    .visitante-mobile{
        display: block;
        
    }
    .visitante-mobile a{
        color:#e5474b;
    }
    .visitante-mobile span{
        color:#1c1c1c;
    }
    .second-column{
        margin-left: 10px;
        width:340px !important;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        align-content:center ;
    }
    #form-login input[type="submit"]{
        margin-top:60px;
        width: 200px;
    }
    .fa-user-circle{
        margin-left: 40px;
        margin-top:-220px;
    }
    .fa-key{
        margin-left: 40px;
        margin-top:-95px;
    }
    .erro{
        margin-left:210px;
    }
}