/*GERAL - reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color:#1c1c1c;
  border:none;
  font-size:100%;
}

a{
  text-decoration: none;
  font-size: .8rem; 
}

body{
  background:#e5474b;
}

a:hover{
  color:rgba(229, 71, 75, 0.75);
}

h1{
  font-size: 2em;
}
/*CONTAINER*/
#container{
  background-color: #fff;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 25vh;
  border-radius: 10px ;
  text-align: center;
}

/*FORMULARIO*/

form{
  margin-top: 30px;
  margin-bottom: 40px;
}

label, input{
  display: block;
  width:100%;
  text-align:left;
  margin-top: 2%;
  margin-bottom: 1%;
}

label{
  font-weight: bold;
  font-size:1.2em;
}

input{
  border-bottom: 2px solid rgba(28, 28, 28, 0.75);
  padding:10px;
  font-size:1.2em;
}

input:focus{
  border-bottom: 2px solid rgba(229, 71, 75, 0.75);
}

#visitante{
  text-align:center;
  display:block;
  font-size:1em;
  margin-top: 10px;
}

input[type="submit"]{
  text-align:center;
  text-transform: uppercase;
  font-size:1.2em;
  border:none;
  height:40px;
  border-radius: 20px;
  margin-top: 25px;
  color: #fff;
  background-color: #1c1c1c;
  cursor:pointer;
}
input[type="submit"]:hover{
  background-color:rgba(28, 28, 28, 0.75) ;
  transition: .5s;
}

