@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

@font-face 
    {
       font-family: "Bebas";
        src: url("fonts/Bebas.ttf");
    }

 @font-face 
    {
       font-family: "Simplicity";
        src: url("fonts/Simplicity.ttf");
    }


body {
    position: relative;
    padding-top: 5em;
    
}

#header {
    background: #1c1c1c;
    color: #d5d5d5;
    cursor: default;
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

    #header .cabecalho {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
        position: relative;
    }

        @media screen and (max-width: 480px) {

            #header .cabecalho {
                max-width: 90%;
                width: 90%;
            }

        }

        #header .logo:hover {
            color: rgba(229, 71, 75, 0.75);
        }

    #header a {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        display: inline-block;
        padding: 0 2em;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .85em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

        #header a:hover {
            color: rgba(255, 255, 255, 0.75);
        }

        #header a:last-child {
            padding-right: 0em;
        }

        @media screen and (max-width: 736px) {

            #header a {
                padding: 0 0.5em;
            }

        }

@media screen and (max-width: 480px) {

    #header {
        min-width: 320px;
    }

}

#navigation{
    display: inline-block;
    padding-right: 10px;
} 


#header .logo {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    height: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    color: #e5474b;
    font-size: 1.75em;
    text-align: right;
    text-transform: none;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 500px;
}

    #header .logo:hover {
        color: rgba(229, 71, 75, 0.75);
    }

    section.special, article.special {
        text-align: center;
        color: #e5474b;
        font-size: 35px;
	}

	section .inner {
		max-width: 65em;
		width: calc(100% - 6em);
        margin: 0 auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
	}

		@media screen and (max-width: 480px) {

			section .inner {
				max-width: 90%;
				width: 90%;
			}

		}

	header p {
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
        margin-top: -1em;
        
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}

	header p {
		color: #717171;
    }
    h2{
        font-size: 40px;
    }

    
      
          
  
     

<<<<<<< HEAD
      
   

      /* Table Eventos */
      #cronograma main .eventos table{
        width: 100%;
        margin: 0;
        padding: 0;
      }
      #cronograma main .eventos table thead, #cronograma main .eventos table tbody{
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .TrTitulo{
          font-size: 20px;
          color: var(--CorTitulo);
      }
      .TrDados{
          font-size: 15px;
          color: var(--CorDados);
      }
      #cronograma main .eventos table tr{
          width: 100%;
          padding: 10px 0;
          border-bottom: 0.5px solid ;
      }
      #cronograma main .eventos table tr td{
          margin: 0;
          padding: 0 10px;
      }
    
      /* CSS - Variáveis */

      :root{
          --CorTitulo: rgba(229, 71, 75, 0.75);
          --CorDados: rgba(229, 71, 75, 0.75);
      }

      /*Menu Side*/
      .sidepanel {
        height: 100%; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color:  #1c1c1c; 
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 10px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
      }
      
      
      .sidepanel a 
      {
        padding-left: 10px ; 
        padding-top: 60px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        transition: 0.3s;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidepanel a:hover {
        color: #f1f1f1;
      }
      
      /* Position and style the close button (top right corner) */
      .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 20px;
      }
      
      /* Style the button that is used to open the sidepanel */
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #1c1c1c;
        color: white;
        padding: 20px 20px;
        border: none;
      }
      
      .openbtn:hover {
        background-color: #444;
      }

      li
      {
        text-align: left;
        list-style-type: none;
      }

    

     /*BANNER*/
     #banner {
		color: #f2a3a5;
		padding: 13em 0 11em 0;
		background-color: #0c0c0c;
		background-image: url("images/1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: left;
		position: relative;
		z-index: 9999;
	}

		#banner input, #banner select, #banner textarea {
			color: #ffffff;
		}

		#banner a {
			color: #ffffff;
		}

		#banner strong, #banner b {
			color: #ffffff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #fff;
		}

		#banner blockquote {
			border-left-color: #fff;
		}

		#banner code {
			background: none;
			border-color: #fff;
		}

		#banner hr {
			border-bottom-color: #fff;
		}

        
		#banner:after {
			-moz-transition: opacity 4s ease;
			-webkit-transition: opacity 4s ease;
			-ms-transition: opacity 4s ease;
			transition: opacity 4s ease;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			background-color: #0c0c0c;
			opacity: 0.25;
		}

		#banner .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
			z-index: 10000;
			line-height: 1.5;
		}

			@media screen and (max-width: 480px) {

				#banner .inner {
					max-width: 90%;
					width: 90%;
				}

			}

		#banner h1 {
			font-size: 2em;
			margin: 0 0 1em 0;
			padding: 0;
			letter-spacing: 3px;
			font-weight: 700;
		}

			#banner h1 span {
				font-weight: 400;
			}

		body.is-loading #banner:after {
			opacity: 1;
		}

		@media screen and (max-width: 1680px) {

			#banner {
				padding: 10em 0 8em 0;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 8em 0 6em 0;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 12em 0 10em 0;
			}

				#banner br {
					display: none;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 4em 0 2em 0;
			}

				#banner h1 {
					font-size: 1.75em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 5em 0 3em 0;
			}

				#banner ul {
					margin-top: 1em;
				}

		}
