/*===============RESET===============*/
* 
{
    font-family: 'Archivo Narrow', sans-serif;
    margin:0;
    padding:0;
    font-size:100%;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
    
}

body {
  background: #d4d2d2 ;
 
 
}

img 
{
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*===============HEADER===============*/
.cabecalho{
  float:left;
  width: 100%;
  background: #1c1c1c;
  height:90px;
  margin:0%;
 

}

.logo{
  float:right;
  background: url(../img/logonome.png) no-repeat;
  width:200px;
  height: 100px;
  font-size: 0;
  margin-right: 4%;
  margin-bottom: 2%;

}

/*===============NAVEGAÇÃO===============*/
.margin{
  margin-top: 10%;
}
.btn{
  position: absolute;
  margin:2% 4%;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1c1c1c;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 190px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1c1c1c;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.margin-first{
  margin-top:10%;
}

.sidebar a {
  margin-left: 6%;
  padding:4px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidebar a:hover, .dropdown-btn:hover {
  color: #f1f1f1;

}


.dropdown-btn {
  margin-left:6%;
  padding: 4px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  outline: none;
}

.fa-caret-down {
  padding-left: 10%;
  cursor: pointer;
}
.fa-caret-down:hover{
  color:#e5474b;
}
.dropdown-container {
  display: none;
  padding-left: 10%;

}

/*===============PÁGINAS DE ROTINAS - ADM ===============*/
.org{
  float:left;
  width: 100%;
  overflow: hidden;

}


#card-menu {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  margin: 8% 7%;
  background: #e6e6e6;
}

#card-menu1{
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  margin: 8% 6%;
  background: #e6e6e6;
}

#card-menu2{
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  margin: 8% 7%;
  background: #e6e6e6;
  
}

#card-menu:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
 
}

.monitorar{
  text-align:center;
  text-transform: uppercase;
  font-size:1.5em;
  border:none;
  height:43px;
  border-radius: 20px;
  color: #fff;
  background-color: #e5474b;
  cursor:pointer;
  width: 100%;
  margin-bottom: 10px;
}

.monitorar:hover{
  color: #1c1c1c;
  background-color: transparent;
  border: 2px solid #e5474b;
}

/*===============LISTA ROTINAS===============*/
.rotinas{
  float:left;
  width: 100%;
  overflow: hidden;
}


#card {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin:10% 7%;
  background: #e6e6e6;
}

#card1{
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin:10% 5%;
  background: #e6e6e6;
}

#card2{
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin:10% 5%;
  background: #e6e6e6;
  
}

#card3{
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 13%;
  border-radius: 5px;
  margin:10% 7%;
  background: #e6e6e6;
  
}

#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}


.btn-rotina{
  text-align:center;
  text-transform: uppercase;
  font-size:1.2em;
  border:none;
  height:40px;
  border-radius: 20px;
  color: #fff;
  background-color: #e5474b;
  cursor:pointer;
  width: 100%;
  margin-bottom: 10px;
}

.btn-rotina:hover{
  color: #1c1c1c;
  background-color: transparent;
  border: 2px solid #e5474b;
}

/*=============RODAPE==========*/

.rodape{
  position: sticky;
}
.copyright {
  color: rgba(255, 255, 255, 0.7);
   margin-top:2%;
  }
.bg-gradient {
  background: #1c1c1c
}
.container {
  width: 100%; 
  float: left; 
  padding: 1% 2%; 
  text-align: center;
}

.linha{
  width: 100%;
}
hr{
  border:2px solid rgba(229, 71, 75,0.89);
  width: 100%;
 
}

/*========== CRONOGRAMAS =============*/

table, th, td{
    border:none;
    border-collapse: collapse;
}

table{
  width:70%;
  text-align: center;
  margin-left:15%;
  font-size:1.2em;
  margin-bottom:5%;
  margin-top:2%;
  border-radius: 10px;
}


tr{
  text-align: center;
  height: 35px;
  background-color: #1c1c1c;  
  
}
td{
    padding:6px;
}


th{
    color:#e5474b;
    background-color: #1c1c1c;
    font-weight: 100;
    font-size:1.5em;
    padding:15px;
}