/* ==== RESET - GERAL ==== */
*{
    font-size:100%;
    margin: 0;
    padding:0;
}
body{
    background: #d4d2d2;
    font-family: 'Archivo', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/* ====== HOME ====== */

/* estrutura - colunas e linhas */
.tudo{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header   header   header"
        "conteudo conteudo conteudo"
        "rodape   rodape   rodape";
}



/* header  */
.header{
    grid-area: header;
    background:#1c1c1c ;
    padding:13px;
    color:#fff;
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.logo{
    max-width: 200px;
    justify-self: end;
}

/* navegação */

.btn{
    position: absolute;
    margin:1.5% 4%;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1c1c1c;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}
.header .btn.click{
left: 190px;
}
.header .btn span{
color: white;
font-size: 28px;
line-height: 45px;
}
.btn.click span:before{
content: '\f00d';
}
.sidebar{
position: fixed;
width: 250px;
height: 100%;
left: -250px;
background: #1c1c1c;
transition: left 0.4s ease;
}
.sidebar.show{
left: 0px;
}
.margin-first{
margin-top:10%;
}
.sidebar a {
margin-left: 6%;
padding:4px;
text-decoration: none;
font-size: 22px;
color: #818181;
display: block;
transition: 0.3s;
}
.margin-top{
    margin-top: 20px;
}
.margin-bottom{
    margin-bottom: 20px;
}
.sidebar a:hover, .dropdown-btn:hover {
color: #f1f1f1;
}
.dropdown-btn {
margin-left:6%;
padding: 4px;
text-decoration: none;
font-size: 22px;
color: #818181;
display: block;
border: none;
background: none;
width: 100%;
text-align: left;
outline: none;
}
.fa-caret-down {
padding-left: 10%;
cursor: pointer;
color:#fff;
}
.fa-caret-down:hover{
color:#e5474b;
}
.dropdown-container {
display: none;
padding-left: 10%;
font-size:1em !important; 
}

/* conteudo - home */

.conteudo{
    grid-area: conteudo;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap:15px;
}
.todas-colunas {
    grid-column: 1/-1; /* ocupa todas as colunas */
}

/* conteudo-banner */
.banner{
    background-image: url("../img/slide1.png");
    background-size: cover;
    height: 40rem;
    width: 100%;
    margin: 0px 20px;
    display: grid;
    grid-template-rows: 2fr 1fr;
} 
.banner span{
    font-family: 'Anton', serif;
    text-transform: uppercase;
    font-size: 4.2em;
    align-self: end;
    justify-self: end;
    text-align: center;
    margin: auto 20px;
    color:#fff;
}
.banner a{
    padding:15px 10px 10px 10px ;
    font-size: 20px;
    background: #e5474b;
    color: #fff;
    border: 3px solid transparent;
    border-radius: 30px;
    transition: 0.5s;
    width:220px !important;
    height: 30px !important; 
    text-align: center;
    justify-self: center;
    grid-row: 2/4;
}
.banner a:hover{
    background: rgba(255,255,255, 0.4);
    border-color: #e5474b;
    color:rgba(0,0,0,0.75);
}

/* sobre nós */


.sobre{
    background: #e4e3e3;
    border-radius: 5px;
    padding:15px; 
    margin: 10px;
}
.titulo{
    font-family: 'Anton', serif;
    font-weight: 200;
    color:#3d3939;
    font-size:2em;
    margin:30px 40px 10px ;
}
.sobre hr{
    border: 1px solid #e5474b;
    max-width: 75%;
    margin-left: 20px;
    margin-top: 2px;
} 
.sobre p{
    font-size: 1.2em;
    text-align: justify;
    margin: 25px 20px;
}
.sobre li {
    margin:2px 35px 8px;
}
.fa-check-circle{
    color:#e5474b;
    margin-right: 5px;
}

/* serviços */
#sobre{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
}
.servicos{
    background:#e4e3e3;
    border-radius: 5px;
    padding:15px; 
    margin: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.titulo2{
    font-family: 'Anton', serif;
    font-weight: 200;
    color:#3d3939;
    font-size:2em;
    justify-self: end;
    margin: 30px 40px 0px;

}
.servicos hr{
    border: 1px solid #e5474b;
    max-width: 75%;
    margin-right: 20px;
    margin-top: 2px;
    margin-left: 25%;
}
.cor{
    color:#818181;
}
.cronogramas{
    padding:15px;
    color:#1c1c1c;
    text-align: center;
} 
.cronogramas p{
    font-size: 1em;
    margin-top:10px;
    padding:0px 60px;
    margin-bottom: 10px;
}
.cronogramas h2, .mapeamento h2, .horario-aula h2{
    font-weight: 200;
    font-size: 1.3em;
    color:#1c1c1c;
    margin-top:10px;
    transition: 0.5s;
}
.mapeamento{
    padding:15px;
    color:#1c1c1c;
    text-align: center;
}
.mapeamento p{
    font-size: 1em;
    margin-top:10px;
    padding:0px 60px;
}
.horario-aula{
    padding:15px;
    color:#1c1c1c;
    text-align: center;
}
.horario-aula p{
    font-size: 1em;
    margin-top:10px;
    padding:0px 60px;
}
.mapeamento:hover>h2, .mapeamento:hover>i{
    color: #e5474b;
}
.cronogramas:hover>h2, .cronogramas:hover>i{
    color: #e5474b;
}
.horario-aula:hover>h2, .horario-aula:hover>i{
    color:#e5474b;
}
.cronogramas i, .mapeamento i, .horario-aula i{
    transition: 0.5s ease-out;
}
.cronogramas i, .mapeamento i, .horario-aula i{
    margin-top: 20px;
}

/* atalhos para o mapa, tcc e reuniao */
.atalhos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mapa, .reuniao, .tcc{
    margin: 10px;
    background: #e4e3e3;
    border-radius: 5px;
    text-align: center;
    box-shadow:0px 5px 5px 0px rgba(0,0,0,0.25) ;
    margin-bottom: 40px;
}
.borda{
    border-top-left-radius:  5px;
    border-top-right-radius: 5px;
}
.mapa button, .reuniao button, .tcc button{
    margin:15px 0px 25px ;
    padding:10px;
    width: 250px;
    background: transparent;
    border:3px solid #e5474b;
    border-radius: 30px;
    font-weight: 300;
    color:#1c1c1c;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
}
.mapa button:hover, .reuniao button:hover, .tcc button:hover{
    border-color: transparent;
    background: #e5474b;
    color:#fff;
}
.mapa p, .reuniao p, .tcc p{
    margin:20px 10px 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    color:#3d3939;
    font-size:1.2em;
}

/* rodape - home*/
.footer{
    background: #1c1c1c;
    padding: 25px;
    color: rgba(255,255,255, 0.75);
    text-align: center;
}
.footer p{
    font-size: 1em;
}
.footer a{
    color: rgba(255,255,255, 0.75);
    transition: 0.3s;
}
.footer a:hover{
    color:#e5474b;
}
hr{
    border: 2px solid #e5474b;
}

/* ------------------OUTRA PÁGINA--------------------- */


/* ====== LOGIN ====== */

/* estrutura  */
.tudo-login{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "." "esquerda" "direita" ".";

}

/* lado esquerdo */

.esquerda-foto{
    grid-area: esquerda;
    background:#1c1c1c;
    grid-column:2/3;
    grid-row: 1/-1; 
    align-self: center;
    justify-self: end;
    height: 400px;
    width:320px;
    margin-top: 35.2%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 50px;
    box-shadow: 5px 10px 18px #888888;
}
.esquerda-foto h1{
    text-align: center;
    align-self: flex-end;
    font-family: 'Anton', serif;
    font-weight: 200;
    color:#fff;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 20px;

}
#visitante{
    text-align: center;
    align-self: flex-end;
    margin-bottom: 20px;
    color:#fff;
}
.esquerda-foto span{
    transition: 0.4s;
}
.esquerda-foto span:hover{
    color:#e5474b;
}
.esquerda-foto img{
    align-self: start;
    justify-self: center;
    margin-top:20px;
    
}

/* lado direito */

.direita-form{
    grid-area:direita;
    align-self: center;
    grid-column:3/4;
    grid-row: 1/-1; 
    background: #fff;
    height: 400px;
    width:450px;
    margin-top: 25%; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
  
}
.direita-form form{
   display:grid;
   margin: 30% 20px;
   gap:14px;
}
.direita-form input{
    padding:0px 0px 0px 35px;
    height: 40px;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #1c1c1c;
    border-right: none;
    margin: 0px 20px 10px 20px;
}
.direita-form input:focus{
    border-bottom: 2px solid rgba(229, 71, 75, 0.75);
}
.direita-form input[type="submit"]{
    background: #e5474b;
    border:2px solid transparent;
    cursor: pointer;
    width: 250px;
    margin-top:10px;
    justify-self: center;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: .5s;
    padding:0px !important;
}
.direita-form input[type="submit"]:hover{
    border-color:#e5474b;
    background: transparent;
    color: #3d3939;
}
.fa-user-circle{
    color:#3d3939;
    position:absolute;
    margin-left:25px;
    margin-top:12px;
}
.fa-key{
    color:#3d3939;
    position: absolute;
    margin-left:25px;
    margin-top:80px;
}
/* BARRA DE ROLAGEM */
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background:#d4d2d2;
}
::-webkit-scrollbar-thumb{
    background: gray; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    height:10px;
    border-radius:5px;
}

@media screen and (max-width:375px){
    .tudo{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "header" "header" "header"
        "conteudo" "conteudo" "conteudo"
        "rodape" "rodape" "rodape";
    }
    /* HEADER RESPONSIVA E LOGO*/
    .header{
        grid-column: 1/-1;
    }
    .logo{
        width:130px !important;
    }
    /* NAVEGAÇÃO */
    .btn{
        margin:2%;
    }
    .header .btn span{
        font-size:20px;
    }
    .header .btn.click{
        left:130px;
    }
    .sidebar{
        width:150px;
    }
    .sidebar a{
        font-size:15px;
    }
    .dropdown-btn{
        font-size:15px;
    }
    .fa-caret-down{
        font-size:15px;
    }
    /* BANNER RESPONSIVO */
    .banner{
        height: 23rem;
    }
    .banner span{
        margin-top:50px;
        font-size:2em;
    }
    .banner a{
        font-size:12px;
        width: 100px !important;
        height: 20px !important;
        margin-top:30px;
        padding: 10px 5px 5px 5px;
    }
    /* PARTE DO SOBRE */
    .titulo{
        font-size:1.4em;
        margin-left:30px;
    }
    .sobre hr{
        width:100% !important;
    }
    .sobre p{
        font-size:.9em;
    }
    .sobre li{
        font-size:.9em;
    }
    /* PARTE DOS SERVIÇOS */
    .servicos{
        grid-template-columns:1fr;
    }
    .titulo2{
        font-size:1.4em;
        margin-right:20px;
    }
    .servicos hr{
        width:100% !important;
        margin-left:20%;
    }
    .servicos i{
        font-size:30px;
    }
    .cronogramas p, .mapeamento p, .horario-aula p{
        font-size:.9em;
        padding:0px 20px;
    }
    .cronogramas h2, .mapeamento h2, .horario-aula h2{
        font-size:1.1em;
    }
    /* ATALHOS */
    .atalhos{
        grid-template-columns: 1fr;
    }
    .mapa, .reuniao, .tcc{
        margin-bottom:25px;
    }
    .mapa button, .reuniao button, .tcc button{
        width:130px;
        padding:5px;
        background: #e5474b;
        color: #fff;
    }
    .mapa button:hover, .reuniao button:hover, .tcc button:hover{
        border-color:#e5474b;
        background:transparent;
        color:#1c1c1c;
    }
    .mapa p, .reuniao p, .tcc p{
        font-size:1em;
    }
    /* RODAPÉ */
    .footer p{
        font-size:.6em;
    }

}
