/*RESET*/
* 
{
    font-family: 'Archivo Narrow', sans-serif;
    margin:0;
    padding:0;
    font-size:100%;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
  background-color: #f5f5f5;
}

img 
{
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER*/
.cabecalho{
  float:left;
  width: 100%;
  background: #1c1c1c;
  height:90px;
}

.logo{
  float:right;
  background: url(../img/logonome.png) no-repeat;
  width:200px;
  height: 100px;
  font-size: 0;
  margin-right: 4%;
  margin-bottom: 2%;

}

/*NAVEGAÇÃO*/
.btn{
  position: absolute;
  margin:2% 4%;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1c1c1c;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 190px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1c1c1c;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}

nav ul{
  background:#1c1c1c;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: #e5474b;
  background: #1e1e1e;
  border-left-color: #e5474b;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: #e5474b!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}

