/*GERAL - reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    color:#fff;
    border:none;
    font-size:100%;
  }
  
  a{
    text-decoration: none;
    font-size: .8rem; 
  }
  
  body{
    background:#d4d2d2;
  }
  
  a:hover{
    color:rgba(229, 71, 75, 0.75);
  }
  
  h1{
    font-family: 'Anton', serif;
    font-size: 2.6em;
    margin-bottom: 5%;
    color:#e5474b;
    font-weight: 350;
    text-transform: uppercase;
  }

  /*CONTAINER*/
.container2{
    background-color: #1c1c1c;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    margin-top: 5vh;
    border-radius: 10px ;
    text-align: center;
    margin-bottom:5vh;
 
  }

  
  /*FORMULARIO*/

form
{
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  label, input
  {
    display: block;
    width:100%;
    text-align:left;
    
  }
  
  label
  {
    font-family: 'Archivo', sans-serif;
    font-weight: 350;
    font-size: 1.6em;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  
  input
  {
    border: 2px solid#d4d2d2;
    padding:8px;
    font-size: 1.3em;
    margin-bottom: 3%;
    border-radius: 30px;
    background:initial;
    color:rgba(255, 255, 255, 0.75);
  }
  
  input:focus
  {
    border: 2px solid rgba(229, 71, 75, 0.75);
  }
  
  
  input[type="submit"]
  {
    text-align:center;
    text-transform: uppercase;
    border: 3px solid transparent;
    border-radius: 30px;
    margin-top: 25px;
    color: #fff;
    background-color: #e5474b;
    cursor:pointer;
    font-size: 1.3em;
    height:  50px;
    width:50%;
    margin-left:125px;
    margin-bottom: 30px;
    transition: 0.4s;
  }

  input[type="submit"]:hover
  {
    
    background-color:rgba(255, 255, 255, 0.5) ;
    border-color: #e5474b;
    color: #3d3939;;
  }

  #cod{
      margin-top:0px;
      font-size: 1.3em;
      color:rgba(255, 255, 255, 0.75);
  }

  .container2 span{
    margin-top: 20px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.5);
  }
  .container2 a{
    color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    transition: .4s;
  }
  .container2 a:hover{
    color:rgba(229, 71, 75, 0.75);
  }
  .container2 textarea{
    width:530px;
    height: 110px;
    resize: none;
    color:rgba(255, 255, 255, 0.75);
    background: initial;
    border: 2px solid#d4d2d2;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.3em;
  }
  .container2 textarea:focus{
    border: 2px solid rgba(229, 71, 75, 0.75);
  }

  