/*GERAL - reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:#fff;
    border:none;
    font-size:100%;
  }
  
  a{
    text-decoration: none;
    font-size: .8rem; 
  }
  
  body{
    background:#d4d2d2;
  }
  
  a:hover{
    color:rgba(229, 71, 75, 0.75);
  }
  
  h1{
    /* font-family: 'Pacifico', cursive; */
    font-size: 3em;
    margin-bottom: 5%;
    color:#e5474b;
    font-weight: 350;
  }

  /*CONTAINER*/
.container2{
    background-color: #1c1c1c;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    margin-top: 5vh;
    border-radius: 10px ;
    text-align: center;
    margin-bottom:5vh;
 
  }

  
  /*FORMULARIO*/

form
{
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  label, input
  {
    display: block;
    width:100%;
    text-align:left;
    
  }
  
  label
  {
    
    font-weight: 350;
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  
  input
  {
    border: 2px solid#d4d2d2;
    padding:8px;
    font-size: 1.8em;
    margin-bottom: 3%;
    border-radius: 30px;
    background:initial;
    color: #e7e5e5;
  }
  
  input:focus
  {
    border: 2px solid rgba(229, 71, 75, 0.75);
  }
  
  
  input[type="submit"]
  {
    text-align:center;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    margin-top: 25px;
    color: #fff;
    background-color: #e5474b;
    cursor:pointer;
    font-size: 2em;
    height:  50px;
    width:50%;
    margin-left:125px;
  }

  input[type="submit"]:hover
  {
    
    background-color:transparent ;
    border: 2px solid #e5474b;
    color: #fff;
  }

  #cod{
      margin-top:0px;
  }