/*GERAL - reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:#1c1c1c;
    border:none;
    font-size:100%;
  }
  
  a{
    text-decoration: none;
    font-size: .8rem; 
  }
  
  body{
    background:#1c1c1c;
  }
  
  a:hover{
    color:rgba(229, 71, 75, 0.75);
  }
  
  h1{
    /* font-family: 'Pacifico', cursive; */
    font-size: 3em;
    margin-bottom: 5%;
    color:#e5474b;
    font-weight: bold;
  }

  /*CONTAINER*/
.container{
    background-color: #fff;
    width: 450px;
    height:350px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 20vh;
    border-radius: 10px ;
    text-align: center;
  }

  
  /*FORMULARIO*/

form
{
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  label, input
  {
    display: block;
    width:100%;
    text-align:left;
    
  }
  
  label
  {
    
    font-weight: bold;
    font-size: 2em;
    margin-top: 5%;
    margin-bottom: 4%;
  }
  
  input
  {
    border: 2px solid rgba(28, 28, 28, 0.75);
    padding:8px;
    font-size: 1.8em;
    margin-bottom: 3%;
    border-radius: 30px;
  }
  
  input:focus
  {
    border: 2px solid rgba(229, 71, 75, 0.75);
  }
  
  
  input[type="submit"]
  {
    text-align:center;
    text-transform: uppercase;
    border:none;
    border-radius: 30px;
    margin-top: 25px;
    color: #fff;
    background-color: #1c1c1c;
    cursor:pointer;
    font-size: 2em;
    height:  50px;
    width:50%;
    margin-left:95px;
  }

  input[type="submit"]:hover
  {
    font-weight: bold;
    background-color:transparent ;
    border: 2px solid #e5474b;
    color: #1c1c1c;
  }