/*GERAL - reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    color:#000;
    border:none;
    font-size:100%;
  }
  
  a{
    text-decoration: none;
    font-size: .8rem; 
  }
  
  body{
    background-color: #d4d2d2;
  }
  
  a:hover{
    color:rgba(229, 71, 75, 0.75);
  }
  
 /*  ==================================
        TABELAS DA ROTINAS PESQUISA
    ================================== */
.cont-pesq{
  background-color: #d4d2d2;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
table, th, td{
   border-collapse: collapse;
}
table{
 width:auto;
 text-align: center;
 margin-left:20px;
 margin-right:20px;
 font-size:1.2em;
 margin-top:10px;
 margin-bottom:10px;
 border-radius: 10px;
 box-shadow: 2px 2px 20px #a3a3a3;
}

tr{
 text-align: center;
 height: 35px;
 background: #fff;  
  color:#1c1c1c;
}
td{
   padding:10px 20px 10px 20px ;
}

th{
   font-family: 'Anton', serif;
   text-transform: uppercase;
   color:#e5474b;
   font-weight: 200;
   font-size:1.1em;
   padding:10px;
}
#espaco{
  width:100px;
}
#corpreta
{
  color: #000;
}
.cont-pesq a{
  align-self: center;
  width:20%;
  margin:20px 0px 50px 0px;
  height: 40px;
  background-color: #1c1c1c;
  color: #fff;
  text-transform: uppercase;
  border: 3px solid transparent;
  border-radius: 30px;
  transition: 0.4s;
  text-align:center;
  font-size:1.2em;
  padding:6px 0px 0px 0px;
}

.cont-pesq a:hover{
  border-color: #1c1c1c;
  color:#1c1c1c;
  background: transparent;
}