*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    color:#1c1c1c;
    border:none;
    font-size:100%;
  }
a{
    text-decoration: none;
    font-size: .8rem; 
}
body{
    background-image: url(../slide1.png);
    
}
h1{
    font-family: 'Anton', serif;
    font-size: 2em;
    margin-bottom: 5%;
    color:#3d3939;
    font-weight: 350;
    text-transform: uppercase;
  }
/*  ==================================
        CONTAINER - ROTINAS PEQUENAS
    ================================== */

.cont-rotinas{
    background:#fff;
    width: 550px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    text-align: center;
    padding: 15px 20px;
    border-radius: 15px;
} 
.cont-rotinas form{
    display: flex;
    flex-direction:column;
    gap:20px;
}
.cont-rotinas input{
    align-self: center;
    width: 80%;
    height: 40px;
    font-size:1.2em;
    padding: 0px 0px 0px 45px;
    border: 1.4px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    background: initial;
    z-index: 2;
    cursor: pointer;
}
.cont-rotinas input:focus{
    border-color:#e5474b;
}
.fa-list-ol{
    position: absolute;
    margin-top: 0px;
    margin-left: 50px;
    padding:12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
    color: #3d3939;
}
.cont-rotinas span{
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
}
.cont-rotinas a{
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
}
.cont-rotinas span:hover{
    color: rgba(229, 71, 75, 0.75);
    font-size: 1em;
}
.cont-rotinas button{
    align-self: center;
    background: #e5474b;
    width: 200px;
    height: 36px;
    color:#fff;
    border: 2px solid transparent;
    border-radius: 30px;
    text-align: center;
    padding: 0px !important;
    transition: .4s;
    cursor: pointer;
}
.cont-rotinas button:hover{
    color: #fff;
    border-color: #b7383c;
    background: #b7383c;
}
.cont-rotinas select{
    align-self: center;
    width: 80%;
    height: 40px;
    font-size:1.2em;
    padding: 0px 0px 0px 45px;
    border: 1.4px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    background: initial;
    z-index: 2;
    cursor: pointer;
    -webkit-appearance:none;
}

.cont-rotinas-gd{
    background:#fff;
    width: 620px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom:5vh;
    text-align: center;
    padding: 15px 20px;
    border-radius: 15px;
} 
.cont-rotinas-gd form{
    display: flex;
    flex-direction:column;
}
.cont-rotinas-gd input{
    align-self: center;
    width: 80%;
    height: 40px;
    font-size:1.2em;
    padding: 0px 0px 0px 10px;
    border: 1.4px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    background: initial;
    z-index: 2;
    cursor: pointer;
}

.cont-rotinas-gd span{
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
}
.cont-rotinas-gd a{
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
}
.cont-rotinas-gd span:hover{
    color: rgba(229, 71, 75, 0.75);
    font-size: 1em;
}
.cont-rotinas-gd label{
    text-align:left;
    margin-left:10%;
    font-size:1.4em;
    margin-top: 20px;
    margin-bottom:5px;
}
#cod{
    margin-top:0;
    margin-left:12%;
    font-size:1.2em;
}
.cont-rotinas-gd textarea{
    align-self:center;
    width:80%;
    height: 110px;
    resize: none;
    border: 1.4px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    background: initial;
    padding: 10px 10px 0px 10px;
    font-size:1.2em;
    text-align:justify;
    
}
.cont-rotinas-gd textarea::-webkit-scrollbar-thumb{
    background: #e5474b;
    cursor:pointer;
}
.cont-rotinas-gd textarea:focus{
    border-color: #e5474b;
}
.cont-rotinas-gd input:focus{
    border-color:#e5474b;
}

.cont-rotinas-gd button{
    margin-top: 20px;
    margin-bottom:20px;
    align-self: center;
    background: #e5474b;
    width: 220px;
    height: 36px;
    color:#fff;
    border: 2px solid transparent;
    border-radius: 30px;
    text-align: center;
    padding: 0px !important;
    transition: .4s;
    cursor: pointer;
}
.cont-rotinas-gd button:hover{
    color: #fff;
    border-color: #b7383c;
    background: #b7383c;
}
.cont-rotinas-gd select{
    align-self: center;
    width: 80%;
    height: 40px;
    font-size:1.2em;
    padding: 0px 0px 0px 10px;
    border: 1.4px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    background: initial;
    z-index: 2;
    cursor: pointer;
    -webkit-appearance:none;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background:#d4d2d2;
}
::-webkit-scrollbar-thumb{
    background: gray; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    height:10px;
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(68, 68, 68);
}
/* TRANSFORMANDO EM SITE RESPONSIVO */
@media only screen and (max-width:375px){
    /* ROTINAS PEQUENAS */
    .cont-rotinas{
        width:340px !important;
        margin-top:33vh !important;
        margin-left:10px;
        
    }
    h1{
        font-size:1.8em;
    }
    .cont-rotinas select{
        width:90%;
        font-size:1.2em !important;
        padding: 0px 0px 4px 42px;
        border:1.8px solid rgba(0, 0, 0, 0.7);;
    }
    .fa-list-ol{
        margin-left: 15px;
    }
    .cont-rotinas button{
        width:100px;
    }
    .cont-rotinas option{
        padding:0px !important;
        font-size:12px;
        overflow-x: auto;
    }
    /* ROTINAS GRANDES */
    .cont-rotinas-gd{
        width:340px;
    }
    .cont-rotinas-gd input{
        width:90%;
        font-size:1.1em;
    }
    .cont-rotinas-gd label{
        margin-left:6%;
        font-size:1.2em;
    }
    .cont-rotinas-gd h1{
        font-size:1.8em;
    }
    .cont-rotinas-gd textarea{
        width:90%;
        font-size:1.1em;
    }
    .cont-rotinas-gd button{
        width:120px;
    }
    .cont-rotinas-gd select{
        width:90%;
        font-size: 1.1em;
    }
    .cont-rotinas-gd option{
        padding:0px !important;
        font-size:12px;
        overflow-x: auto;
        margin-right:20px;
    }
    #cod{
        margin-left:7%;
    }
}
